<div class="w-100 h-100 p-5">
  <div class="headerContent">
    <button class="pi pi-arrow-left" (click)="returnToList()"></button>
    <!-- <button class="pi pi-plus" (click)="addRegistry()"></button> -->
    <button class="pi pi-save" (click)="saveRegistry()"></button>
  </div>
  <div p-cardBody class="flex justify-content-between">
    <div class="container formCRUD" >
      <h4 class="headerTitle">Heroes Details</h4>
      <hr class="hrTitle">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div  class="card-body">
                  <form class="form-material" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group col-3">
                      <label class="form-label">Id:</label>
                      <div class="input-group">
                        <input type="text" class="form-control shadow-none" formControlName="id" maxlength="50" readonly>
                      </div>
                    </div>
                    <div class="form-group col-3">
                      <label class="form-label">Name:</label>
                      <div class="input-group">
                        <input pInputText type="text" class="form-control" formControlName="name" maxlength="50" required>

                      </div>
                    </div>
                    <div class="form-group col-3">
                      <label class="form-label">Power:</label>
                      <div class="input-group">
                        <textarea rows="5" cols="30" pInputTextarea formControlName="power"></textarea>
                        <!-- <input type="text" ngModel="power" class="form-control shadow-none" formControlName="power" maxlength="50" > -->


                      </div>
                    </div>
                    <div class="form-group col-12">
                      <button class="btn btn-primary" name="Cancel" (click)="returnToList()">Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>