

<button class="pi pi-plus" click="addRegistry()"></button>

<div class="row" *ngIf="loading" style="margin-bottom: 5rem">
  <p-progressSpinner  ></p-progressSpinner>
  <!-- <app-form-loader *ngIf="loading"></app-form-loader> -->
</div>

<p-table [value]="filteredHeroes">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Poder</th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-hero>
    <tr>
      <td>{{hero.id}}</td>
      <td>{{hero.name}}</td>
      <td>{{hero.power}}</td>
      <td>
        <button class="pi pi-pencil" type="button" (click)="selectHero(hero)"></button>
        <button class="pi pi-trash" type="button" (click)="delete(hero.id)"></button>
      </td>
    </tr>